*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 100vh;
     width: 100vw;
    background-color: hsl(212,45%,89%);
    display: flex;
    justify-content: center; 
    align-items: center;
}


nav{
  
     width: 290px; 
   
    background-color: aliceblue;
    display: flex;
     flex-direction: column;
    justify-content: center; 
     padding-block: 10px;
    border-radius: 20px;

    padding-top: 30px;
    padding-bottom: 60px;
    padding-inline: 30PX;
}
.web{
    margin-block: 30px;
     text-align: center; 
}
.scan{
    /* margin-top:20px ; */
     text-align: center ;
     color: grey;
}
.frame{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
